@import round.sass

body
  :margin 0
div
  :margin 0
  :padding 0
.header
  :background #eeeeee
  h1
    :font-family sans-serif
    :margin 0
    :padding .5em 1em

.timestamp-relative
.timestamp-absolute
  :display none

ul.navigation
  // :text-align center
  :padding-left 2em
  :background #eeeeee
  :margin 0
  li
    :display inline-block
    a
      :text-decoration none
      :background #dddddd
      :color black
      :font-size 120%
      :font-family sans-serif
      :padding .25em .5em
      :display inline-block
    &.current 
      a
        :background #ffffff
    a:hover
      :background #cccccc

.controls
  :margin 1em
table
  :margin 1em
  tr
    td
      :border-bottom 1px solid #cccccc
      :padding .5em
      &.status
        :text-align center
        span
          +round(3px)
          :padding .25em
          :font-family sans-serif
          :font-size 80%
    &.header td
      :font-weight bold

.ticket
  :margin 1em
  :width 60%
  .current
    :padding .5em
    h2.subject
      :margin 0
    .description
  .metadata
    :padding .5em
    & > div
      :display inline-block
      :padding .5em
      :border-right-width 1px
      :border-right-style solid
    .status
    .created
      :width 7em
    .modified
      :width 7em
    .id
      :border none
  .history
    :clear both
    .change_set
      :border-top 1px solid #cccccc
      :padding .25em
      :clear both
      .metadata
        :font-size 80%
        :text-align right
      ul.changes li
        :list-style-type none
        :font-weight bold
        :font-size 80%
        :font-family sans-serif
    .comment
      :background #eeeeee
      +round(3px)
      :margin-left 1em
      p
        :padding .5em
  form
    .subject
      :font-size 120%
      :padding .5em
      p
        :margin 0
      input
        :font-size 120%
    .description
      :padding .5em
      p
        :margin 0
  
/* STATUS COLORING */
!red = #d74e3d
!orange = #c97a37
!yellow = #fcc870
!green_light = #a4c262
!green_dark = #519e50
!blue_pale = #d1d0fe
!blue = #709bbd

.new.ticket 
  & > .metadata, & > .status span
    :background= !green_dark
.open.ticket
  & > .metadata, & > .status span
    :background = !green_light
.resolved.ticket
  & > .metadata, & > .status span
    :background =  !yellow
.closed.ticket
  & > .metadata, & > .status span
    :background = !blue_pale
.deleted.ticket
  & > .metadata, & > .status span