:ruby
  filters = [ { :name => 'Status', :options => [ 
                { :name => 'new', :selected => true },
                { :name => 'open', :selected => true },
                { :name => 'resolved', :selected => true } ]},
              { :name => 'Age', :options => [ 
                { :name => 'today' },
                { :name => 'yesterday' },
                { :name => 'this week', :selected => true },
                { :name => 'this month' } ]}]

#main
  .tickets
    .ticket.header
      .narrow
        .num #
      .narrow
        .status Status
      .wide
        .subject Subject
      .narrow
        .age Age
    = render :partial => "ticket", :collection => @tickets
  .filters
    -# .save_search
      %a{ :href => 'javascript:void(0);' } Save search
    -# .saved Saved!
    - filters.each do |filter|
      .filter
        %h2= filter[:name]
        %ul.options
          - filter[:options].each do |option|
            %li{ :class => option[:selected] ? 'selected' : nil }
              %span.text
                %span.check &#10003;
                = option[:name]