%div[@ticket]{ :class => @ticket.status.to_s }
  = render :partial => 'current'
  .controls
    = link_to 'Update ticket', edit_ticket_path
  .history
    =render :partial => 'change_set', :collection => @ticket.change_sets