#header
  %h1= @title
#nav
  %ul.navigation
    %li#dashboard
      %a{ :href => '/dashboard' } Dashboard
    %li#tickets 
      %a{ :href => '/tickets' } Tickets
    %li#admin
      %a{ :href => '/admin' } Admin
