#header
  %h1= @title
#nav
  %ul.navigation
    %li#dashboard
      %a{ :href => '/dashboard' } Dashboard
    %li#tickets 
      %a{ :href => '/tickets' } Tickets
    %li#users
      %a{ :href => '/users' } Users
    %li#admin
      %a{ :href => '/admin' } Admin